body {
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    margin-top: 20px;
}

#bubbles {
    background-image: linear-gradient(to bottom, rgba(14, 14, 14, 0.68), rgba(0, 0, 0, 0.89)),
    url('../../images/wisper_home.png');
    padding-top: 85px;
    padding-bottom: 300px;
    margin: 0px -9px 0px -9px;
}

#error-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 580px;
}

#notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #f3f3f3;
}

#text-link {
    display:block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #f3f3f3;
    text-decoration: inherit;
    text-align: center;
}
